img {
  width: 500px;
  height: 375px;
  border-radius: 15px;
  object-fit: cover;
}

.no-image {
  width: 500px;
  height: 375px;
  border-radius: 15px;
  background-color: grey;
  text-align: center;
}

.month {
  margin: 10px;
  border-radius: 15px;
  border: none;
  padding: 10px;
}

.month:hover {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #b284c4;
  }
  50% {
    background-color: #8cd5ec;
  }
  90% {
    background-color: #ec8cd6;
  }
  100% {
    background-color: #b284c4;
  }
}
