.App {
  text-align: center;
  font-family: "Dancing Script", cursive;
}

.month-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-weight: bolder;
}

.title {
  font-size: 50px;
  animation: slide-in 1000ms;
  animation-timing-function: linear;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
